<section class="relative mb-4 rounded-lg p-8 text-center bg-blue-100 dark:bg-blue-900 text-blue-800 dark:text-blue-100 shadow-xl transition-all duration-300 hover:scale-[1.01] border-4 border-blue-500 dark:border-blue-600">
  <h2 class="!my-0 pb-4 text-3xl font-extrabold !leading-tight">{{ m_i18n::tr(key=`donation_message_title`, lk=g_lang_k, d=config.extra.translations) }}</h2>
  <p class="mb-4">
    {{ m_i18n::tr(key=`donation_message_text`, lk=g_lang_k, d=config.extra.translations) }}
  </p>
  <a
    href="https://buymeacoffee.com/hoang.gia.nguyen"
    target="_blank"
    rel="noopener noreferrer"
    class="inline-block mt-8 rounded-full bg-yellow-400 px-6 py-3 text-lg font-semibold text-gray-900 shadow-md transition-transform duration-150 hover:scale-105"
  >
    {{ m_i18n::tr(key=`donation_button_text`, lk=g_lang_k, d=config.extra.translations) }}
  </a>
</section>