<!-- Page List -->
{%- set hellip = m_i18n::tr(key=`hellip`, lk=g_lang_k, d=g_trans_d) %}
{%- for page in paginator.pages | default(value=(section.pages | default(value=term.pages))) %}
<article class="page-card relative py-8 first-of-type:mt-0 last-of-type:mb-0">
  <h2 class="!my-0 font-bold">
    <a class="page-card-title no-underline" href="{{ m_url::rel(there=page.permalink, here=g_here, base=g_base) }}">
      {{ page.title }}
    </a>
  </h2>
  {%- if not page.summary %}
  {%- set use_summary = false %}
  {%- elif not page.description %}
  {%- set use_summary = true %}
  {%- elif page.extra.page_summary_on_paginator is defined %}
  {%- set use_summary = page.extra.page_summary_on_paginator %}
  {%- elif section.extra.page_summary_on_paginator is defined %}
  {%- set use_summary = section.extra.page_summary_on_paginator %}
  {%- elif config.extra.page_summary_on_paginator is defined %}
  {%- set use_summary = config.extra.page_summary_on_paginator %}
  {%- else %}
  {%- set use_summary = false %}
  {%- endif %}
  {%- if use_summary %}
  <div class="not-prose mt-2 text-sm opacity-80">
    {{ page.summary | striptags | trim_end | trim_end_matches(pat=`&hellip;`) | trim_end_matches(pat=`.`) | safe }}{{
    hellip | safe }}
  </div>
  {%- elif page.description %}
  <div class="not-prose mt-2 text-sm opacity-80">
    <p class="!my-0">{{ page.description }}</p>
  </div>
  {%- else %}
  <div class="mt-2"></div>
  {%- endif %}

  {% include "partials/page_info.html" %}
</article>
{%- endfor %}

{%- if paginator is defined %}
<nav class="mt-16 flex">
  {%- if paginator.previous %}
  <a class="rounded-lg border-[0.5px] border-solid px-4 py-3 text-sm font-bold no-underline shadow duration-75 active:scale-95"
    href="{{ m_url::rel(there=paginator.previous, here=g_here, base=g_base) }}" rel="prev" accesskey=",">&larr; {{
    m_i18n::tr(key=`word_prev_page`, lk=g_lang_k, d=g_trans_d) }}</a>
  {%- endif %}
  {%- if paginator.next %}
  <a class="ml-auto rounded-lg border-[0.5px] border-solid px-4 py-3 text-sm font-bold no-underline shadow duration-75 active:scale-95"
    href="{{ m_url::rel(there=paginator.next, here=g_here, base=g_base) }}" rel="next" accesskey=".">{{
    m_i18n::tr(key=`word_next_page`, lk=g_lang_k, d=g_trans_d) }} &rarr;</a>
  {%- endif %}
</nav>
{%- endif %}
